* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(../assets/images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.container-cards{
  position: relative;
  width: 343px;
  height: 251px;
  padding-top: 32px;
}

.card-back{
  position: absolute;
  width: 300px;
  height: 170px;
  left: 100px;
  top: 30px;
}

.card-front{
  position: absolute;
  width: 300px;
  height: 170px;
  top: 123px;
  left: 36px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
}

.box-card-name{
  display: flex;
  flex-direction: column;
  left: 36px;
  top: 180px;
  width: 300px;
}

.text-card{
  font-weight: 500;
  font-size: 12px;
  color: #21092F;
  letter-spacing: 2px;
  padding-bottom: 9px;
  margin-top: 10px;

}

.space-card{
  width: 327px;
  height: 45px;
  border-radius: 10px;  
  font-size: 15px;
  padding-left: 10px;
  border-color: #DFDEE0;
}

.box-card-number{
  display: flex;
  flex-direction: column;
  left: 36px;
  top: 120px;
  width: 300px;
}

.box-card-date{
  display: flex;
  margin-top: 20px;
}

.month-card{
  display: flex;
  width: 72px;
  height: 45px;
  top: 9px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: #DFDEE0;
}

.year-card{
  width: 72px;
  height: 45px;
  left: 80px;
  bottom: 37px;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: #DFDEE0;
}

.box-colum{
  display: flex;
  flex-direction: column;
  /* gap: 9px; */
  padding-left: 10px;
}

.flex-box{
  display: flex;
}
.cvc{
  margin: 0;
  padding-left: 10px;
  margin-top: 10px;
}


.code-card{
  display: flex;
  width: 145px;
  height: 45px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: #DFDEE0;
  top: 8px;
}

.confirm{
  margin: 0;
  position: relative;
  background-color: #21092F;
  color: white;
  width: 338px;
  height: 53px;
  border-radius: 10px;
  top: 66px;
  left: 28px;
  font-size: 18px;
  border: none;
}

.card-color-name{
  position: absolute;
  bottom: 58px;
  color: white;
  font-size: 12px;
  left: 19px;
  bottom: 20px;
  margin: 0;
  font-weight: 500;
}

.card-color-number{
  position: absolute;
  bottom: 48px;
  left: 19px;
  color: white;
  font-size: 18px;
  right: 46px;
  margin: 0;
  letter-spacing: 2.2px;
  width: 293px;
}

.monthAndYear{
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 20px;
  font-size: 9px;
  color: white;
}

.cardCvc{
  position: absolute;
  right: 37px;
  top: 73px;
  font-size: 12px;
  color: white;
}

.errorBlankName{
  margin: 0;
  margin-top: 4px;
  font-size: 12px;
  color: red;
  font-weight: 500;
}

.errorNumber{
  margin: 0;
  margin-top: 4px;
  font-size: 12px;
  color: red;
  font-weight: 500;
}


.errorMonthYear{
  position: relative;
  font-size: 12px;
  top: 10px;
  color: red;
  font-weight: 500;

}

.errorCVC{
  position: relative;
  top: 10px;
  font-size: 12px;
  color: red;  
  font-weight: 500;
}




